* {
  box-shadow: 0 0 1px red;
  background-color: rgba(0, 0, 0, 0.1);
  outline: none;
}
@font-face {
  font-family: FA;
  src: url(fontawesome-webfont.woff2);
}
html {
  .fa {
    xdisplay: inline-block;
    font-family: FA;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  body {
    margin: 0;
    padding: 0;
    background-color: rgb(245,245,245);
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
    }
  }
}
/* ↑ 重置项 */
.topimg {
  width: 100%;
  min-width: 1226px;
  height: 120px;
  background-color: rgb(254, 77, 54);
  background-image: url(images/a2a9e6db5e3c5374301827435d8595c6.jpg);
  background-position: center;
  background-size: auto 120px;
  background-repeat: no-repeat;
}/* 顶栏图片 */
.menu {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 40px;
  min-width: 1226px; /* 无论有无滚动条都有黑色背景 */
  background-color: rgb(51, 51, 51);
  /* section目的：内容在中间，通栏黑色 */
  section {
    width: 1226px;
    height: 100%;
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    li {
      display: inline-block;
      margin: 0 .5em;
      line-height: 40px;
      font-size: 12px;
      color: #bbb;
      position: relative;
      cursor: pointer;

      &::after {
        content: "|";
        color: rgb(66, 66, 66);
        position: absolute;
        right: -.8em;
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child::after {
        content: "";
      }

      &:hover {
        color: white;
      }
    }
    .download {
      position: relative;
      img {
        width: 90px;
        height: 90px;
        padding: 18px 17px 12px;
        background-color: #fff;
        left: -50%;
        top: 100%;
        box-shadow: 1px 1px 5px #333;
        position: absolute;
        z-index: 10;
        transition: .3s;
        object-fit: contain;
        clip-path: inset(0 0 125px 0);
      }
      &:hover {
        img {
          clip-path: inset(0 -3px -5px -5px);
        }
        &::before {
          content: "";
          width: 0;  height: 0;
          border-bottom: 8px solid white;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          position: absolute;
          bottom: 0;
          left: 35%;
        }
      }
    }
  }
  .sign_in {
    li:last-child {
      position: relative;
      margin-right: 0;
      padding: 0 1.2em 0 3.2em;
      background-color: rgb(66, 66, 66);
      transition: .1s .35s;
      &::before {
        content: "\f217";
        position: absolute; left: 0.8em;
        font-size: 20px;
      }
      .cart {
        width: 318px;
        height: 0;
        background-color: white;
        position: absolute;
        right: 0;
        top: 100%;
        box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
        clip-path: inset(0 -10px -10px -10px);
        z-index: 10;
        transition: .3s; /* 购物车  .35s为了等待购物车收回才开始变回来*/
      }
      &:hover {
        color: rgb(255, 103, 0);
        background-color: white;
        transition: .1s;
        .cart {
          height: 100px;
        }
      }
    }
  }
}
.bgc {
  background-color: #fff;
  padding-bottom: 22px;
  position: relative;
} /* 白色背景区 */
main {
  width: 1226px;
  margin: auto;
}
.home {
  width:1226px;
  .logo {
    float: left;
    position: relative;
    width: 55px;
    height: 55px;
    margin-top: 22px;
    background-color: rgb(255, 103, 0);
    overflow: hidden;
    &::after,
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-position: center;
      transition: .2s;
    }
    &::after {
      left: 0;
      background-image: url(images/mi-logo.png);
    }
    &::before {
      left: -100%;
      background-image: url(images/mi-home.png);
    }
    &:hover{
      &::after {
        left: 100%;
      }
      &::before {
        left: 0;
      }
    }
  }
  form {
    float: right;
    margin-top: 25px;
    font-size: 0;
    position: relative;
    &:hover input{
      border-color: rgb(176,176,176);
    }
    .search-icon {
      pointer-events: none;
    }/* 避免鼠标悬停在放大镜上而无法触发submit悬停 */
    .search-icon::before {
      position: absolute;
      content: "\f002";
      font-size: 18px;
      color: rgb(97,97,97);
      right: .9em;  top: .9em;
      transition: .2s;

    }/* 搜索框里放大镜 */
    input {
      font-size: 12px;
      box-sizing: border-box;
      height: 50px;  width: 245px;
      border: 1px solid rgb(224, 224, 224);
      outline: none;
      transition: .2s;
      &:focus {
        border-color: rgb(255,103,0);
        + input {
          border-color: rgb(255,103,0);
        }
        ~ .sugestion {
          height: 240px;
          border: 1px solid rgb(255,103,0);
          border-top: none; /* 为了不重叠 */
          li {
            &:hover{
              background-color: rgb(250,250,250);
            }
          }
        }
      }
    }
    [type="search"] {
      margin-right: -1px;
      padding: 0 10px;
      font-size: 12px;
    }
    [type="submit"] {
      vertical-align: bottom;
      width: 52px;
      padding: 1px 6px;
      background-color: #fff;
      &:hover {
        color: white;
        background-color: rgb(255,103,0);
        border-color: rgb(255,103,0);
        ~ .search-icon::before {
          color: white;
        }
      }
    }
    .sugestion {
      font-size: 12px;
      box-sizing: border-box;
      position: absolute;
      z-index: 100;
      left: 0;  top: 100%;
      width: 245px;  height: 0;
      background-color: #fff;
      overflow: hidden;
      li {
        line-height: 30px; /* 每个字在每行居中 */
        padding-left: 10px;
        color: black;
      }
    }
  }
  .nosublist {
    float: right;
    margin-right: 80px;
    li {
      display: inline-block;
      span {
        line-height: 100px;
        margin: 0 .5em;
        color: rgb(51, 51, 51);
        &:hover {
          color:  rgb(255, 103, 0);
        }
      }
    }
  }/* 服务，社区，右浮动，复刻navlist li */
  .nav-list {
    margin-left: 235px;
    overflow: hidden;  /* 触发BFC,内容避开左右浮动元素 */
    &:hover .good {
      border-top: 1px solid rgb(224,224,224);
      height: 230px;
      opacity: 1;
      transition: height .2s, z-index 0s;
      /* 总菜单ulhover，立马弹出子菜单 */
    }
    li {
      display: inline-block;
      span {
        line-height: 100px;
        margin: 0 .5em;
        color: rgb(51, 51, 51);
        &:hover {
          color: rgb(255, 103, 0);
        }
      }
      &:hover .good {
        height: 230px;
        z-index: 10000;
        clip-path: inset(0,0,-8px,0);
        transition: z-index 0s，height .2s;
        /* 具体li被hover, 相应的.good 在最上 */
      }
      .good {
        position: absolute;
        left: 0;  right: 0;
        padding: 0 calc(50% - 613px);
        background-color: white;
        width: 1226px;  height: 0;
        overflow: hidden;
        border-top: 0px solid rgb(224,224,224);
        box-shadow: 0 2px 5px rgba(120, 120, 120, 0.1);
        font-size: 0;  /* 幽灵字符消除间距 */
        z-index: 200;
        transition: height .3s, z-index 5s,border-top .2s;
        /* 鼠标离开时生效，z-index生效最晚，最后离开悬停的ul，视觉上还在*/
        li{
          box-sizing: border-box;
          font-size: 12px;
          position: relative;
          float: left;
          width: 184px;  /* 浮动，margin不会折叠 */
          padding: 35px 12px 0;
          text-align: center;
          margin: 0 10px 16px;
          img {
            object-fit: contain;
          }
          .title {
            margin: 0;
            padding: 35px 12px 0;
            color: rgb(255,103,0);
          }
        }
      }
    }
  }
}
.slider-column {
  position: relative;
  /* 侧拉列表开始 */
  .column {
    position: absolute;
    top: 0px;
    width: 234px;  height: 420px;
    padding: 20px 0;
    color: white;
    background-color: rgba(105,101,101,.6);
    z-index:100;
    li {
      height: 42px;
      line-height: 42px;
      font-size: 14px;
      padding-left: 30px;
      cursor: pointer;
      &::after {
        xcontent: ">";
        xposition: absolute;
        xright: 1.5em;
      }
      a {
        color: white;
      }
      &:hover {
        background-color: rgb(255,103,0);
        .sub-column {
          display: block;
        }
      }
      .sub-column {
        display: none;
        position: absolute;
        left: 100%; top: 0;
        height: 458px;
        background-color: #fff;
        box-shadow: 3px 1px 8px #ccc;
        li {
          box-sizing: border-box;
          width: 248px;  height: calc(460px / 6);
          line-height: calc(460px / 6);
          font-size: 0;
          xpadding: 18px 20px;
          background-color: #fff;
          &:hover span{
            color: rgb(255,103,0);
          }
          img {
            width: 40px;  height: 40px;
            display: inline-block;
            margin-right: 12px;
            vertical-align: middle;
          }
          span {
            font-size: 12px;
            color: black;
          }
          &:nth-child(n + 7) {
            margin-left:  248px;
          }
          &:nth-child(n + 13) {
            margin-left:  496px;
          }
          &:nth-child(n + 19) {
            margin-left:  744px;
          }
          &:nth-child(6n) {
            margin-bottom: -460px;
          }
        }
      }
    }
  }
  /* 侧拉列表结束 */
  /* 轮播图开始 */
  .slider_wrapper {
    width: 100%;  height: 460px;
    background-color: rgb(250,87,68);
    input {
      display: none;
    } /* radio */
    ul {
      position: relative;
      width: 100%;  height: 100%;
      li {
        position: absolute;
        top: 0;
        opacity: 0;
        transition: .6s;
        img {
          width: 100%;  height: 100%;
        }
        label {
          position: absolute;
          display: block;
          width: 41px;  height: 69px;
          top: 0;  bottom: 0;
          margin: auto;
          line-height: 69px;
          text-align: center;
          font-size: 45px;
          color: rgb(155,155,155);
          &:hover {
            color: white;
            background-color: #000;
          }
        }
      }
    } /* 图片 */
    li {
      label:nth-child(2) {
        left: 234px;
      }
      label:nth-child(3) {
        right: 0;
      }
    }
    .indicator-wrapper {
      position: absolute;
      bottom: 7px;
      width: 100%;  height: 20px;
      z-index: 10;
      text-align: right;
      .indicator {
        display: inline-block;
        padding: 0 2px;
        font-size:0;
        border-radius: 6px;
        background-color: #fff3;
        label {
          display: inline-block;
          width: 6px; height:6px;
          margin: 2px 2px;
          font-size: 10px;
          border-radius: 3px;
          background-color: #fff8;
        }
      }
    } /* 右下角标签 */
  }
}
input:nth-child(1):checked~ul li:nth-child(1),
input:nth-child(2):checked~ul li:nth-child(2),
input:nth-child(3):checked~ul li:nth-child(3),
input:nth-child(4):checked~ul li:nth-child(4),
input:nth-child(5):checked~ul li:nth-child(5) {
  opacity: 1;
  z-index: 6;
}
input:nth-child(1):checked~.indicator-wrapper label:nth-child(1),
input:nth-child(2):checked~.indicator-wrapper label:nth-child(2),
input:nth-child(3):checked~.indicator-wrapper label:nth-child(3),
input:nth-child(4):checked~.indicator-wrapper label:nth-child(4),
input:nth-child(5):checked~.indicator-wrapper label:nth-child(5) {
  background-color: #ff0d;
}
/* 轮播图结束 */
.flex-menu {
  display: flex;
  width: 100%;  height: 170px;
  margin-top: 15px;
  justify-content: space-between;
  div {
    width: 316px;  height: 170px;
    background-color: lime;
    transition: .3s;
    &:hover {
      box-shadow: 0 2px 25px rgba(120, 120, 120, 0.4);
    }
    img {
      width: 100%; height: 100%;
    }
  }
  .a {
    width: 228px;  height: 164px;
    margin: 3px;
    background-color: rgb(95,87,80);
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      li {
        box-sizing: border-box;
        width: 70px;  height: 82px;
        margin: 0 3px;  padding-top: 15px;
        align-items: stretch;
        color: white;
        opacity: 0.7;
        transition: .12s;
        &:hover {
          opacity: 1;
        }
        img {
          width: 24px; height: 24px;
          margin: 0 23px 4px;
        }
        span {
          display: block;
          font-size: 13px;
          text-align: center;
        }
      }
    }
  }
}

.page_content {
  width: 1226px;
  margin: auto;
  span {
    display: block;
    height: 58px;
    line-height: 58px;
    font-size: 22px;
    color: rgb(51,51,51);
  }/* page-content下的所有小标题 */
}
.flash_sale {
  margin: 4px auto;
  overflow: hidden;
  .flashsale {
    position: relative;
    .time-to-shop {
      position: absolute;
      left: 0;
      width: 234px;  height: 339px;
      background-color: lime;
      z-index: 100;
      img {
        width: 100%;  height: 100%;
      }
    }
    .container {
      position: relative;
      margin-left: 234px;
      ul {
        position: relative;
        white-space: nowrap;
        font-size: 0;
        transition: margin-left .5s;
        li{
          font-size: 90px;
          display: inline-block;
          width: 234px;  height: 339px;
          margin-left: 14px;
          background-color: yellow;
          cursor: pointer;
          img {
            width: 100%;  height: 100%;
          }
        }
      }
      label {
        box-sizing: border-box;
        position: absolute;
        display: block;
        top: -40px;
        width: 36px; height: 24px;
        line-height: 20px;
        font-size: 24px;
        color: rgb(176,176,176);
        border: 1px solid rgb(224,224,224);
        text-align: center;
        &:hover {
          color: rgb(249,88,70);
        }
        &.pre {
          right: 36px;
        }
        &.next {
          right: 0;
        }
      }
      #a1 {
        opacity: 0;
      }
    }
    input {
      display: none;
      /* 被checked之后，进入下一个层级，
      引导checked的label opacity降低,下一个label升高 */
      &:nth-child(1):checked ~ .container {
        #a1 {
          opacity: 1;
          color: rgb(225,225,224);
          z-index: 1000;
        }
        #a2 {
          opacity: 0;
          z-index: 1000;
        }
        ul {
          margin-left: 0;
        }
      }
      &:nth-child(2):checked ~ .container {
        #a3, #a4 {
          opacity: 1;
          z-index: 1000;
        }
        #a1, #a2 {
          opacity: 0;
          z-index: 0;
        }
        ul {
          margin-left: -992px;
        }
      }
      &:nth-child(3):checked ~ .container {
        #a5, #a6 {
          opacity: 1;
          z-index: 1000;
        }
        ul {
          margin-left: -1984px;
        }
      }
      &:nth-child(4):checked ~ .container {
        #a7, #a8 {
          opacity: 1;
          z-index: 1000;
        }
        ul {
          margin-left: -2976px;
        }
      }
      &:nth-child(5):checked ~ .container {
        #a9, #a10 {
          opacity: 1;
          z-index: 1000;
        }
        ul {
          margin-left: -3966px;
        }
      }
      &:nth-child(6):checked ~ .container {
        #a11, #a12 {
          opacity: 1;
          z-index: 1000;
        }
        ul {
          margin-left: -4958px;
        }
      }
      &:nth-child(7):checked ~ .container {
        #a13 {
          opacity: 1;
          z-index: 1000;
        }
        #a14 {
          opacity: 1;
          color: rgb(225,225,225);
          z-index: 1000;
        }
        ul {
          margin-left: -5454px;
        }
      }
    }
  }
}/* 滚动轮播图 */

.phone-more {
  width: 100%;  height: 58px;
  span {
    float: left;
  }
  .more {
    width: 92px;  height: 58px; line-height: 58px;
    float: right;
    position: relative;
    a {
      font-size: 16px;
      transition: .3s;
      &:hover {
        color: rgb(255,103,0);
        &::after {
          color: rgb(255,103,0);
        }
      }
      &::after {
        position: absolute;
        right: 3px;
        content: "\f138";
        transition: .3s;
        font-size: 23px;  color: rgb(176,176,176);
      }
    }
  }
}/* 手机和查看全部 */

.ad {
  height: 120px;
  margin: 22px 0;
} /* 广告 */
.container-good {
  width: 1226px;  height: 614px;
  text-align: center;
  font-size: 14px;
  span {
    color: #333333;
  }
} /* 中间含有container-good布局属性 */
/*手机悬浮开始*/
.container_phone {
  .big {
    float: left;
    position: relative;
    top: 0;
    width: 234px;  height: 614px;
    margin: 0;
    transition: .3s;
    cursor: pointer;
  }
  li:hover,
  .big:hover {
    top: -3px;
    box-shadow: 0 14px 15px rgb(227,227,227);
  }
  ul {
    float: right;
    width: 992px;
    li {
      float: left;
      position: relative;
      top:0;
      width: 234px;  height: 260px;
      padding: 20px 0;
      margin: 0 0 14px 14px;
      transition: .3s;
      background-color: #fff;
      cursor: pointer;
      .img-wrapper {
        margin: 0 37px 18px;
        img {
          width: 160px; height: 160px;
        }
      }
      .title {
        margin: 0 10px 2px;
      }
      .desc{
        font-size: 12px;
        margin: 0 10px 10px;
        color: rgb(176,176,176);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .price {
        color:rgb(255,103,0);
        margin: 0 10px 14px;
        del {
          text-decoration: line-through;
          color: rgb(176,176,176);
        }
      }
    }
  }
}/*===========*/
/* 切换热门和电视影音 */
.tv-more-wrapper {
  position: relative;
  .ab{
    box-sizing: border-box;
    position: absolute;
    right: 0;  top: -45px;
    font-size: 16px;
    line-height: 30px;  height: 30px;
    color: #333;
    border-bottom: 2px solid transparent;
    transition: color 1s 9999s,border-bottom 0s 9999s;
  }
  .aaa {
    right: 64px;
    margin-right: 30px;
  }
  /* 共有特性 */
  .container_jiadian {
    position : absolute;
    visibility: hidden;
    transition: visibility 99999s 9999s;
    ul {
      width: 1226px; height: 614px;
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;
      align-content: space-between;
      li {
        box-sizing: border-box;
        width: 234px;  height: 300px;
        background-color: #fff;
        transition: transform .3s;
        &:nth-last-child(-n + 2) {
          height: 143px;
        }
        &:hover {

          transform: translateY(-3px);
          box-shadow: 0 14px 15px rgb(227,227,227);;
        }
        &:nth-child(n + 3) {
          img {
            width: 160px;  height: 160px;
            margin: 0 37px 18px;
          }
        }
        &:nth-last-child(-n + 2) {
          padding: 30px 15px;
          img {
            float: right;
            width: 80px;  height: 80px;
            margin: 0;
          }
        }
      }
    }
  }

  /* 初次加载，默认加载热门 */
  .hot {
    visibility: visible;
  }

  /* 悬停停留开始 */
  &:hover {
    div div{
      visibility: hidden;
      transition: none;
    }
    /* hover时所有div hidden，下方选择器选中才visible */
    .ab {
      color: #333333;
      text-decoration: none;
      transition: none;
    }
  }/* 顺序不能变 */

  .music-wrapper:hover {
    .tv-music {
      visibility: visible;
      transition: none;
    }
    .bbb {
      color: rgb(255,103,0);
      border-bottom: 2px solid rgb(255,103,0);
      transition: none;
    }
  }
  .hot-wrapper:hover {
    .hot {
      visibility: visible;
      transition: none;
    }
    .aaa {
      color: rgb(255,103,0);
      border-bottom: 2px solid rgb(255,103,0);
      transition: none;
    }
  }
  /* 悬停停留结束 */
}/*===========*/

/* 轮播图特效 */
.scroll {
  width: 1226px;  height: 460px;

  ul {
    display: flex;
    li {
      width: 20%;  height: 460px;
      overflow: hidden;
      position: relative;
      xborder: 1px solid black;
      div {
        width: 100%; height: 100%;
        background-size: 1226px;
        position: absolute;
        top: 0; right: 0; bottom: 0;
        left: -100%;
      }
      div:nth-child(1) {
        background-image: url(images/3d9f8cf47b5eeb286a83e6e95a60105a.webp);
      }
      div:nth-child(2) {
        background-image: url(images/fdd30e55069adb64bb354d4f8d9f9b60.jpg);
      }
      div:nth-child(3) {
        background-image: url(images/a17f560beb1abe201b6b1f123cc1d5d9.webp);
      }
      div:nth-child(4) {
        background-image: url(images/9ebff5f5c1f52f2dbdd611897adbefd4.webp);
      }
      div:nth-child(5) {
        background-image: url(images/0ef4160c861b998239bce9adb82341e7.webp);
      }
      /* 设置缓动效果 */
      &:nth-child(1) div {
        background-position: 0 0;
        transition: .5s;
        animation: leave .6s;
      }
      &:nth-child(2) div {
        background-position: -100% 0;
        transition: .55s;
        animation: leave .65s;
      }
      &:nth-child(3) div {
        background-position: -200% 0;
        transition: .6s;
        animation: leave .7s;
      }
      &:nth-child(4) div {
        background-position: -300% 0;
        transition: .65s;
        animation: leave .75s;
      }
      &:nth-child(5) div {
        background-position: -400% 0;
        transition: .7s;
        animation: leave .8s;
      }
    }
  }
  input:nth-child(1):checked ~ ul div:nth-child(1),
  input:nth-child(2):checked ~ ul div:nth-child(2),
  input:nth-child(3):checked ~ ul div:nth-child(3),
  input:nth-child(4):checked ~ ul div:nth-child(4),
  input:nth-child(5):checked ~ ul div:nth-child(5) {
    left: 0;
    z-index: 100;
    animation: none;
  }
}
@keyframes leave {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}