@charset "UTF-8";
* {
  xbox-shadow: 0 0 1px red;
  xbackground-color: rgba(0, 0, 0, 0.1);
  outline: none;
}

@font-face {
  font-family: FA;
  src: url(fontawesome-webfont.woff2);
}

html .fa {
  xdisplay: inline-block;
  font-family: FA;
}

html a {
  text-decoration: none;
  color: inherit;
}

html body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

html ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

html ul li {
  margin: 0;
  padding: 0;
}

/* ↑ 重置项 */
.topimg {
  width: 100%;
  min-width: 1226px;
  height: 120px;
  background-color: #fe4d36;
  background-image: url(images/a2a9e6db5e3c5374301827435d8595c6.jpg);
  background-position: center;
  background-size: auto 120px;
  background-repeat: no-repeat;
}

/* 顶栏图片 */
.menu {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 40px;
  min-width: 1226px;
  /* 无论有无滚动条都有黑色背景 */
  background-color: #333333;
  /* section目的：内容在中间，通栏黑色 */
}

.menu section {
  width: 1226px;
  height: 100%;
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.menu section li {
  display: inline-block;
  margin: 0 .5em;
  line-height: 40px;
  font-size: 12px;
  color: #bbb;
  position: relative;
  cursor: pointer;
}

.menu section li::after {
  content: "|";
  color: #424242;
  position: absolute;
  right: -.8em;
}

.menu section li:first-child {
  margin-left: 0;
}

.menu section li:last-child::after {
  content: "";
}

.menu section li:hover {
  color: white;
}

.menu section .download {
  position: relative;
}

.menu section .download img {
  width: 90px;
  height: 90px;
  padding: 18px 17px 12px;
  background-color: #fff;
  left: -50%;
  top: 100%;
  box-shadow: 1px 1px 5px #333;
  position: absolute;
  z-index: 10;
  transition: .3s;
  object-fit: contain;
  clip-path: inset(0 0 125px 0);
}

.menu section .download:hover img {
  clip-path: inset(0 -3px -5px -5px);
}

.menu section .download:hover::before {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 8px solid white;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  position: absolute;
  bottom: 0;
  left: 35%;
}

.menu .sign_in li:last-child {
  position: relative;
  margin-right: 0;
  padding: 0 1.2em 0 3.2em;
  background-color: #424242;
  transition: .1s .35s;
}

.menu .sign_in li:last-child::before {
  content: "\f217";
  position: absolute;
  left: 0.8em;
  font-size: 20px;
}

.menu .sign_in li:last-child .cart {
  width: 318px;
  height: 0;
  background-color: white;
  position: absolute;
  right: 0;
  top: 100%;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
  clip-path: inset(0 -10px -10px -10px);
  z-index: 10;
  transition: .3s;
  /* 购物车  .35s为了等待购物车收回才开始变回来*/
}

.menu .sign_in li:last-child:hover {
  color: #ff6700;
  background-color: white;
  transition: .1s;
}

.menu .sign_in li:last-child:hover .cart {
  height: 100px;
}

.bgc {
  background-color: #fff;
  padding-bottom: 22px;
  position: relative;
}

/* 白色背景区 */
main {
  width: 1226px;
  margin: auto;
}

.home {
  width: 1226px;
  /* 服务，社区，右浮动，复刻navlist li */
}

.home .logo {
  float: left;
  position: relative;
  width: 55px;
  height: 55px;
  margin-top: 22px;
  background-color: #ff6700;
  overflow: hidden;
}

.home .logo::after, .home .logo::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  transition: .2s;
}

.home .logo::after {
  left: 0;
  background-image: url(images/mi-logo.png);
}

.home .logo::before {
  left: -100%;
  background-image: url(images/mi-home.png);
}

.home .logo:hover::after {
  left: 100%;
}

.home .logo:hover::before {
  left: 0;
}

.home form {
  float: right;
  margin-top: 25px;
  font-size: 0;
  position: relative;
  /* 避免鼠标悬停在放大镜上而无法触发submit悬停 */
  /* 搜索框里放大镜 */
}

.home form:hover input {
  border-color: #b0b0b0;
}

.home form .search-icon {
  pointer-events: none;
}

.home form .search-icon::before {
  position: absolute;
  content: "\f002";
  font-size: 18px;
  color: #616161;
  right: .9em;
  top: .9em;
  transition: .2s;
}

.home form input {
  font-size: 12px;
  box-sizing: border-box;
  height: 50px;
  width: 245px;
  border: 1px solid #e0e0e0;
  outline: none;
  transition: .2s;
}

.home form input:focus {
  border-color: #ff6700;
}

.home form input:focus + input {
  border-color: #ff6700;
}

.home form input:focus ~ .sugestion {
  height: 240px;
  border: 1px solid #ff6700;
  border-top: none;
  /* 为了不重叠 */
}

.home form input:focus ~ .sugestion li:hover {
  background-color: #fafafa;
}

.home form [type="search"] {
  margin-right: -1px;
  padding: 0 10px;
  font-size: 12px;
}

.home form [type="submit"] {
  vertical-align: bottom;
  width: 52px;
  padding: 1px 6px;
  background-color: #fff;
}

.home form [type="submit"]:hover {
  color: white;
  background-color: #ff6700;
  border-color: #ff6700;
}

.home form [type="submit"]:hover ~ .search-icon::before {
  color: white;
}

.home form .sugestion {
  font-size: 12px;
  box-sizing: border-box;
  position: absolute;
  z-index: 100;
  left: 0;
  top: 100%;
  width: 245px;
  height: 0;
  background-color: #fff;
  overflow: hidden;
}

.home form .sugestion li {
  line-height: 30px;
  /* 每个字在每行居中 */
  padding-left: 10px;
  color: black;
}

.home .nosublist {
  float: right;
  margin-right: 80px;
}

.home .nosublist li {
  display: inline-block;
}

.home .nosublist li span {
  line-height: 100px;
  margin: 0 .5em;
  color: #333333;
}

.home .nosublist li span:hover {
  color: #ff6700;
}

.home .nav-list {
  margin-left: 235px;
  overflow: hidden;
  /* 触发BFC,内容避开左右浮动元素 */
}

.home .nav-list:hover .good {
  border-top: 1px solid #e0e0e0;
  height: 230px;
  opacity: 1;
  transition: height .2s, z-index 0s;
  /* 总菜单ulhover，立马弹出子菜单 */
}

.home .nav-list li {
  display: inline-block;
}

.home .nav-list li span {
  line-height: 100px;
  margin: 0 .5em;
  color: #333333;
}

.home .nav-list li span:hover {
  color: #ff6700;
}

.home .nav-list li:hover .good {
  height: 230px;
  z-index: 10000;
  clip-path: inset(0, 0, -8px, 0);
  transition: z-index 0s，height .2s;
  /* 具体li被hover, 相应的.good 在最上 */
}

.home .nav-list li .good {
  position: absolute;
  left: 0;
  right: 0;
  padding: 0 calc(50% - 613px);
  background-color: white;
  width: 1226px;
  height: 0;
  overflow: hidden;
  border-top: 0px solid #e0e0e0;
  box-shadow: 0 2px 5px rgba(120, 120, 120, 0.1);
  font-size: 0;
  /* 幽灵字符消除间距 */
  z-index: 200;
  transition: height .3s, z-index 5s,border-top .2s;
  /* 鼠标离开时生效，z-index生效最晚，最后离开悬停的ul，视觉上还在*/
}

.home .nav-list li .good li {
  box-sizing: border-box;
  font-size: 12px;
  position: relative;
  float: left;
  width: 184px;
  /* 浮动，margin不会折叠 */
  padding: 35px 12px 0;
  text-align: center;
  margin: 0 10px 16px;
}

.home .nav-list li .good li img {
  object-fit: contain;
}

.home .nav-list li .good li .title {
  margin: 0;
  padding: 35px 12px 0;
  color: #ff6700;
}

.slider-column {
  position: relative;
  /* 侧拉列表开始 */
  /* 侧拉列表结束 */
  /* 轮播图开始 */
}

.slider-column .column {
  position: absolute;
  top: 0px;
  width: 234px;
  height: 420px;
  padding: 20px 0;
  color: white;
  background-color: rgba(105, 101, 101, 0.6);
  z-index: 100;
}

.slider-column .column li {
  height: 42px;
  line-height: 42px;
  font-size: 14px;
  padding-left: 30px;
  cursor: pointer;
}

.slider-column .column li::after {
  xcontent: ">";
  xposition: absolute;
  xright: 1.5em;
}

.slider-column .column li a {
  color: white;
}

.slider-column .column li:hover {
  background-color: #ff6700;
}

.slider-column .column li:hover .sub-column {
  display: block;
}

.slider-column .column li .sub-column {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  height: 458px;
  background-color: #fff;
  box-shadow: 3px 1px 8px #ccc;
}

.slider-column .column li .sub-column li {
  box-sizing: border-box;
  width: 248px;
  height: calc(460px / 6);
  line-height: calc(460px / 6);
  font-size: 0;
  xpadding: 18px 20px;
  background-color: #fff;
}

.slider-column .column li .sub-column li:hover span {
  color: #ff6700;
}

.slider-column .column li .sub-column li img {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 12px;
  vertical-align: middle;
}

.slider-column .column li .sub-column li span {
  font-size: 12px;
  color: black;
}

.slider-column .column li .sub-column li:nth-child(n + 7) {
  margin-left: 248px;
}

.slider-column .column li .sub-column li:nth-child(n + 13) {
  margin-left: 496px;
}

.slider-column .column li .sub-column li:nth-child(n + 19) {
  margin-left: 744px;
}

.slider-column .column li .sub-column li:nth-child(6n) {
  margin-bottom: -460px;
}

.slider-column .slider_wrapper {
  width: 100%;
  height: 460px;
  background-color: #fa5744;
  /* radio */
  /* 图片 */
  /* 右下角标签 */
}

.slider-column .slider_wrapper input {
  display: none;
}

.slider-column .slider_wrapper ul {
  position: relative;
  width: 100%;
  height: 100%;
}

.slider-column .slider_wrapper ul li {
  position: absolute;
  top: 0;
  opacity: 0;
  transition: .6s;
}

.slider-column .slider_wrapper ul li img {
  width: 100%;
  height: 100%;
}

.slider-column .slider_wrapper ul li label {
  position: absolute;
  display: block;
  width: 41px;
  height: 69px;
  top: 0;
  bottom: 0;
  margin: auto;
  line-height: 69px;
  text-align: center;
  font-size: 45px;
  color: #9b9b9b;
}

.slider-column .slider_wrapper ul li label:hover {
  color: white;
  background-color: #000;
}

.slider-column .slider_wrapper li label:nth-child(2) {
  left: 234px;
}

.slider-column .slider_wrapper li label:nth-child(3) {
  right: 0;
}

.slider-column .slider_wrapper .indicator-wrapper {
  position: absolute;
  bottom: 7px;
  width: 100%;
  height: 20px;
  z-index: 10;
  text-align: right;
}

.slider-column .slider_wrapper .indicator-wrapper .indicator {
  display: inline-block;
  padding: 0 2px;
  font-size: 0;
  border-radius: 6px;
  background-color: #fff3;
}

.slider-column .slider_wrapper .indicator-wrapper .indicator label {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 2px 2px;
  font-size: 10px;
  border-radius: 3px;
  background-color: #fff8;
}

input:nth-child(1):checked ~ ul li:nth-child(1),
input:nth-child(2):checked ~ ul li:nth-child(2),
input:nth-child(3):checked ~ ul li:nth-child(3),
input:nth-child(4):checked ~ ul li:nth-child(4),
input:nth-child(5):checked ~ ul li:nth-child(5) {
  opacity: 1;
  z-index: 6;
}

input:nth-child(1):checked ~ .indicator-wrapper label:nth-child(1),
input:nth-child(2):checked ~ .indicator-wrapper label:nth-child(2),
input:nth-child(3):checked ~ .indicator-wrapper label:nth-child(3),
input:nth-child(4):checked ~ .indicator-wrapper label:nth-child(4),
input:nth-child(5):checked ~ .indicator-wrapper label:nth-child(5) {
  background-color: #ff0d;
}

/* 轮播图结束 */
/* 缓动轮播图特效 */
.scroll {
  margin-top: 15px;
  width: 1226px;
  height: 460px;
  position: relative;
}

.scroll ul {
  display: flex;
}

.scroll ul li {
  width: 20%;
  height: 460px;
  overflow: hidden;
  position: relative;
  xborder: 1px solid black;
  /* 设置缓动效果 */
}

.scroll ul li div {
  width: 100%;
  height: 100%;
  background-size: 1226px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: -100%;
}

.scroll ul li div:nth-child(1) {
  background-image: url(images/3d9f8cf47b5eeb286a83e6e95a60105a.webp);
}

.scroll ul li div:nth-child(2) {
  background-image: url(images/fdd30e55069adb64bb354d4f8d9f9b60.jpg);
}

.scroll ul li div:nth-child(3) {
  background-image: url(images/a17f560beb1abe201b6b1f123cc1d5d9.webp);
}

.scroll ul li div:nth-child(4) {
  background-image: url(images/9ebff5f5c1f52f2dbdd611897adbefd4.webp);
}

.scroll ul li div:nth-child(5) {
  background-image: url(images/0ef4160c861b998239bce9adb82341e7.webp);
}

.scroll ul li:nth-child(1) div {
  background-position: 0 0;
  transition: left .75s;
  animation: leave .8s;
}

.scroll ul li:nth-child(2) div {
  background-position: -100% 0;
  transition: left .8s;
  animation: leave .9s;
}

.scroll ul li:nth-child(3) div {
  background-position: -200% 0;
  transition: left .9s;
  animation: leave 1s;
}

.scroll ul li:nth-child(4) div {
  background-position: -300% 0;
  transition: left 1.15s;
  animation: leave 1.2s;
}

.scroll ul li:nth-child(5) div {
  background-position: -400% 0;
  transition: left 1.2s;
  animation: leave 1.35s;
}

.scroll input {
  display: none;
}

.scroll input:nth-child(1):checked ~ ul div:nth-child(1),
.scroll input:nth-child(2):checked ~ ul div:nth-child(2),
.scroll input:nth-child(3):checked ~ ul div:nth-child(3),
.scroll input:nth-child(4):checked ~ ul div:nth-child(4),
.scroll input:nth-child(5):checked ~ ul div:nth-child(5) {
  left: 0;
  z-index: 100;
  animation: none;
  box-shadow: 0px 50px 30px black;
}

.scroll .scroll-label {
  position: absolute;
  width: 100%;
  height: 35px;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.scroll .scroll-label label {
  width: 10px;
  height: 10px;
  margin: 2px;
  border-radius: 20px;
  z-index: 300;
  background-color: rgba(255, 255, 255, 0.2);
  transition: .3s;
}

.scroll input:nth-child(1):checked ~ .scroll-label label:nth-child(1),
.scroll input:nth-child(2):checked ~ .scroll-label label:nth-child(2),
.scroll input:nth-child(3):checked ~ .scroll-label label:nth-child(3),
.scroll input:nth-child(4):checked ~ .scroll-label label:nth-child(4),
.scroll input:nth-child(5):checked ~ .scroll-label label:nth-child(5) {
  width: 17px;
  height: 10px;
  background-color: rgba(254, 80, 56, 0.8);
}

@keyframes leave {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

/* ============= */
.flex-menu {
  display: flex;
  width: 100%;
  height: 170px;
  margin-top: 15px;
  justify-content: space-between;
}

.flex-menu div {
  width: 316px;
  height: 170px;
  background-color: lime;
  transition: .3s;
}

.flex-menu div:hover {
  box-shadow: 0 2px 25px rgba(120, 120, 120, 0.4);
}

.flex-menu div img {
  width: 100%;
  height: 100%;
}

.flex-menu .a {
  width: 228px;
  height: 164px;
  margin: 3px;
  background-color: #5f5750;
}

.flex-menu .a ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.flex-menu .a ul li {
  box-sizing: border-box;
  width: 70px;
  height: 82px;
  margin: 0 3px;
  padding-top: 15px;
  align-items: stretch;
  color: white;
  opacity: 0.7;
  transition: .12s;
}

.flex-menu .a ul li:hover {
  opacity: 1;
}

.flex-menu .a ul li img {
  width: 24px;
  height: 24px;
  margin: 0 23px 4px;
}

.flex-menu .a ul li span {
  display: block;
  font-size: 13px;
  text-align: center;
}

.page_content {
  width: 1226px;
  margin: auto;
  /* page-content下的所有小标题 */
}

.page_content span {
  display: block;
  height: 58px;
  line-height: 58px;
  font-size: 22px;
  color: #333333;
}

.flash_sale {
  margin: 4px auto;
  overflow: hidden;
}

.flash_sale .flashsale {
  position: relative;
}

.flash_sale .flashsale .time-to-shop {
  position: absolute;
  left: 0;
  width: 234px;
  height: 339px;
  background-color: lime;
  z-index: 100;
}

.flash_sale .flashsale .time-to-shop img {
  width: 100%;
  height: 100%;
}

.flash_sale .flashsale .container {
  position: relative;
  margin-left: 234px;
}

.flash_sale .flashsale .container ul {
  position: relative;
  white-space: nowrap;
  font-size: 0;
  transition: margin-left .5s;
}

.flash_sale .flashsale .container ul li {
  font-size: 90px;
  display: inline-block;
  width: 234px;
  height: 339px;
  margin-left: 14px;
  background-color: yellow;
  cursor: pointer;
}

.flash_sale .flashsale .container ul li img {
  width: 100%;
  height: 100%;
}

.flash_sale .flashsale .container label {
  box-sizing: border-box;
  position: absolute;
  display: block;
  top: -40px;
  width: 36px;
  height: 24px;
  line-height: 20px;
  font-size: 24px;
  color: #b0b0b0;
  border: 1px solid #e0e0e0;
  text-align: center;
}

.flash_sale .flashsale .container label:hover {
  color: #f95846;
}

.flash_sale .flashsale .container label.pre {
  right: 36px;
}

.flash_sale .flashsale .container label.next {
  right: 0;
}

.flash_sale .flashsale .container #a1 {
  opacity: 0;
}

.flash_sale .flashsale input {
  display: none;
  /* 被checked之后，进入下一个层级，
      引导checked的label opacity降低,下一个label升高 */
}

.flash_sale .flashsale input:nth-child(1):checked ~ .container #a1 {
  opacity: 1;
  color: #e1e1e0;
  z-index: 1000;
}

.flash_sale .flashsale input:nth-child(1):checked ~ .container #a2 {
  opacity: 0;
  z-index: 1000;
}

.flash_sale .flashsale input:nth-child(1):checked ~ .container ul {
  margin-left: 0;
}

.flash_sale .flashsale input:nth-child(2):checked ~ .container #a3, .flash_sale .flashsale input:nth-child(2):checked ~ .container #a4 {
  opacity: 1;
  z-index: 1000;
}

.flash_sale .flashsale input:nth-child(2):checked ~ .container #a1, .flash_sale .flashsale input:nth-child(2):checked ~ .container #a2 {
  opacity: 0;
  z-index: 0;
}

.flash_sale .flashsale input:nth-child(2):checked ~ .container ul {
  margin-left: -992px;
}

.flash_sale .flashsale input:nth-child(3):checked ~ .container #a5, .flash_sale .flashsale input:nth-child(3):checked ~ .container #a6 {
  opacity: 1;
  z-index: 1000;
}

.flash_sale .flashsale input:nth-child(3):checked ~ .container ul {
  margin-left: -1984px;
}

.flash_sale .flashsale input:nth-child(4):checked ~ .container #a7, .flash_sale .flashsale input:nth-child(4):checked ~ .container #a8 {
  opacity: 1;
  z-index: 1000;
}

.flash_sale .flashsale input:nth-child(4):checked ~ .container ul {
  margin-left: -2976px;
}

.flash_sale .flashsale input:nth-child(5):checked ~ .container #a9, .flash_sale .flashsale input:nth-child(5):checked ~ .container #a10 {
  opacity: 1;
  z-index: 1000;
}

.flash_sale .flashsale input:nth-child(5):checked ~ .container ul {
  margin-left: -3966px;
}

.flash_sale .flashsale input:nth-child(6):checked ~ .container #a11, .flash_sale .flashsale input:nth-child(6):checked ~ .container #a12 {
  opacity: 1;
  z-index: 1000;
}

.flash_sale .flashsale input:nth-child(6):checked ~ .container ul {
  margin-left: -4958px;
}

.flash_sale .flashsale input:nth-child(7):checked ~ .container #a13 {
  opacity: 1;
  z-index: 1000;
}

.flash_sale .flashsale input:nth-child(7):checked ~ .container #a14 {
  opacity: 1;
  color: #e1e1e1;
  z-index: 1000;
}

.flash_sale .flashsale input:nth-child(7):checked ~ .container ul {
  margin-left: -5454px;
}

/* 滚动轮播图 */
.phone-more {
  width: 100%;
  height: 58px;
}

.phone-more span {
  float: left;
}

.phone-more .more {
  width: 92px;
  height: 58px;
  line-height: 58px;
  float: right;
  position: relative;
}

.phone-more .more a {
  font-size: 16px;
  transition: .3s;
}

.phone-more .more a:hover {
  color: #ff6700;
}

.phone-more .more a:hover::after {
  color: #ff6700;
}

.phone-more .more a::after {
  position: absolute;
  right: 3px;
  content: "\f138";
  transition: .3s;
  font-size: 23px;
  color: #b0b0b0;
}

/* 手机和查看全部 */
.ad {
  height: 120px;
  margin: 22px 0;
}

/* 广告 */
.container-good {
  width: 1226px;
  height: 614px;
  text-align: center;
  font-size: 14px;
}

.container-good span {
  color: #333333;
}

/* 中间含有container-good布局属性 */
/*手机悬浮开始*/
.container_phone .big {
  float: left;
  position: relative;
  top: 0;
  width: 234px;
  height: 614px;
  margin: 0;
  transition: .3s;
  cursor: pointer;
}

.container_phone li:hover,
.container_phone .big:hover {
  top: -3px;
  box-shadow: 0 14px 15px #e3e3e3;
}

.container_phone ul {
  float: right;
  width: 992px;
}

.container_phone ul li {
  float: left;
  position: relative;
  top: 0;
  width: 234px;
  height: 260px;
  padding: 20px 0;
  margin: 0 0 14px 14px;
  transition: .3s;
  background-color: #fff;
  cursor: pointer;
}

.container_phone ul li .img-wrapper {
  margin: 0 37px 18px;
}

.container_phone ul li .img-wrapper img {
  width: 160px;
  height: 160px;
}

.container_phone ul li .title {
  margin: 0 10px 2px;
}

.container_phone ul li .desc {
  font-size: 12px;
  margin: 0 10px 10px;
  color: #b0b0b0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container_phone ul li .price {
  color: #ff6700;
  margin: 0 10px 14px;
}

.container_phone ul li .price del {
  text-decoration: line-through;
  color: #b0b0b0;
}

/*===========*/
/* 切换热门和电视影音 */
.tv-more-wrapper {
  position: relative;
  /* 共有特性 */
  /* 初次加载，默认加载热门 */
  /* 悬停停留开始 */
  /* 顺序不能变 */
}

.tv-more-wrapper .ab {
  box-sizing: border-box;
  position: absolute;
  right: 0;
  top: -45px;
  font-size: 16px;
  line-height: 30px;
  height: 30px;
  color: #333;
  border-bottom: 2px solid transparent;
  transition: color 1s 9999s,border-bottom 0s 9999s;
}

.tv-more-wrapper .aaa {
  right: 64px;
  margin-right: 30px;
}

.tv-more-wrapper .container_jiadian {
  position: absolute;
  visibility: hidden;
  transition: visibility 99999s 9999s;
}

.tv-more-wrapper .container_jiadian ul {
  width: 1226px;
  height: 614px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-content: space-between;
}

.tv-more-wrapper .container_jiadian ul li {
  box-sizing: border-box;
  width: 234px;
  height: 300px;
  background-color: #fff;
  transition: transform .3s;
}

.tv-more-wrapper .container_jiadian ul li:hover {
  transform: translateY(-3px);
  box-shadow: 0 14px 15px #e3e3e3;
}

.tv-more-wrapper .container_jiadian ul li:nth-child(n + 3) img {
  width: 160px;
  height: 160px;
  margin: 0 37px 18px;
}

.tv-more-wrapper .container_jiadian ul li:nth-last-child(-n + 2) {
  height: 143px;
  padding: 30px 15px;
}

.tv-more-wrapper .container_jiadian ul li:nth-last-child(-n + 2) img {
  float: right;
  width: 80px;
  height: 80px;
  margin: 0;
}

.tv-more-wrapper .hot {
  visibility: visible;
}

.tv-more-wrapper:hover {
  /* hover时所有div hidden，下方选择器选中才visible */
}

.tv-more-wrapper:hover div div {
  visibility: hidden;
  transition: none;
}

.tv-more-wrapper:hover .ab {
  color: #333333;
  text-decoration: none;
  transition: none;
}

.tv-more-wrapper .music-wrapper:hover .tv-music,
.tv-more-wrapper .hot-wrapper:hover .hot {
  visibility: visible;
  transition: none;
}

.tv-more-wrapper .music-wrapper:hover .bbb,
.tv-more-wrapper .hot-wrapper:hover .aaa {
  color: #ff6700;
  border-bottom: 2px solid #ff6700;
  transition: none;
}

/*===========*/
/* backface */
#backface-back li {
  transform: rotatey(180deg);
}
