* {
  xbox-shadow: 0 0 1px red;
  xbackground-color: rgba(0, 0, 0, 0.1);
}

a {
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(245,245,245);
}
.topimg {
  width: 100%;
  height: 120px;
  background-color: rgb(254, 77, 54);
  background-image: url(images/a2a9e6db5e3c5374301827435d8595c6.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.menu {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 40px;
  background-color: rgb(51, 51, 51);
}
.menu section {
  width: 1226px;
  height: 100%;
  margin: auto;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
  margin: 0 .5em;
  line-height: 40px;
  font-size: 12px;
  color: #bbb;
  position: relative;
  cursor: pointer;
}

.main_menu li::after {
  content: "|";
  color: rgb(66, 66, 66);
  position: absolute;
  right: -.8em;
}

.main_menu li:last-child::after {
  content: "";
}

.menu li:first-child {
  margin-left: 0;
}

.menu li:hover {
  color: white;
}

.download {
  position: relative;
}

.download img {
  width: 90px;
  height: 90px;
  padding: 18px 17px 12px;
  background-color: #fff;
  left: -50%;
  top: 100%;
  box-shadow: 1px 1px 5px #3333;
  position: absolute;
  z-index: 10;
  transition: .3s;
  object-fit: contain;
  clip-path: inset(0 0 125px 0);
}

li.download:hover img {
  clip-path: inset(0 -3px -5px -5px);
}

li.download:hover::before {
  content: "";
  width: 0;  height: 0;
  border-bottom: 8px solid white;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  position: absolute;
  bottom: 0;
  left: 35%;
}


/* 登录 */

.menu .sign_in {
  float: right;
  margin-top: -40px;
}

.sign_in li:last-child {
  position: relative;
  margin-right: 0;
  padding: 0 2em;
  background-color: rgb(66, 66, 66);
  transition: .1s .35s;
}


/* 购物车  .35s为了等待购物车收回才开始变回来*/


.cart {
  width: 318px;
  height: 0;
  background-color: white;
  position: absolute;
  right: 0;
  top: 100%;
  box-shadow: 0px 0px 10px #aaae;
  clip-path: inset(0 -10px -10px -10px);
  z-index: 10;
  transition: .3s;
}

.sign_in li:last-child:hover {
  color: rgb(255, 103, 0);
  background-color: white;
  transition: .1s;
}

.sign_in li:last-child:hover .cart {
  height: 100px;
}
.bgc {
  background-color: #fff;
  padding-bottom: 22px;
}
main {
  width: 1226px;
  margin: auto;
}

.logo {
  float: left;
  position: relative;
  width: 55px;
  height: 55px;
  margin-top: 22px;
  background-color: rgb(255, 103, 0);
  overflow: hidden;
}

.logo::after,
.logo::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  transition: .2s;
}


/* 悬停logo动效 */
.logo::after {
  left: 0;
  background-image: url(images/mi-logo.png);
}
.logo::before {
  left: -100%;
  background-image: url(images/mi-home.png);
}
.logo:hover::after {
  left: 100%;
}
.logo:hover::before {
  left: 0;
}

.home>ul {
  margin-left: 194px;
}
.home>ul>li {
  display: inline-block;
  line-height: 100px;
  margin: 0 .5em;
}
li a {
  color: rgb(51, 51, 51)
}
.home li a:hover {
  color: rgb(255, 103, 0);
}

.home label, #search {
  box-sizing: border-box;
  float: right;
  height: 50px;
  margin-top: 22px;
}
.home label {
  width: 52px;
  padding: 1px 6px;
  border: 1px solid rgb(224, 224, 224);
}
#search {
  width: 245px;
  padding: 0 10px;
  border: 1px solid rgb(224, 224, 224);
  outline: none;
  transition: .1s;
}
#search:hover {
  border-color: rgb(176, 176, 176);
}

.good {
  position: absolute;  left: 0;  right: 0; /* 最近定位的祖先元素： body */
  width: 1226px;  height: 0;
  margin: auto;
  padding: 0 calc(50% - 613px); /* 为了出现超出边界背景白 */
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 2px 5px #bbba;
  border-top: 2px solid #eee;
  clip-path: inset(2px 0 0 0);
  transition: .3s .2s;
  z-index: 1000;
}
/* 子菜单弹出框 */
.good ul {
  position: absolute;
  top: 0;
  width: 1226px;
  font-size: 0;
  background-color: #fff;
}
.good li {
  box-sizing: border-box;
  font-size: 12px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: calc(1226px / 6);
  margin: 0;
  padding: 35px 12px 0;
  position: relative;
}


.good ul li:nth-child(-n + 6):before {
  content: "";
  position: absolute;  left: 0;
  display: block;
  width: 1px;  height: 90px;
  background-color: #ddd;
}/* 手机照片间隔竖条 */
.good ul li:first-child:before {
  background-color: transparent;
}
.good li.title {
  padding: 1em 0 12px 0;
}/* 加good为了选择器优先级 */

li:nth-child(1):hover~.good .miphone,
.good:hover .miphone,
.miphone:hover,
li:nth-child(2):hover~.good .redmi,
.redmi:hover {
  transition: .4s;
  z-index: 10;
}
li:hover~.good,
.good:hover {
  height: 230px;
  clip-path: inset(0 0 -5px 0);
} /* 保证弹出后，鼠标hover到菜单，菜单不收回 */
main ul {
  margin-bottom: 2px;
} /* 保证弹出后收回，不会露出下方轮播图 */
.slider-column {
  position: relative;
}
/* 侧拉列表开始 */
.column {
  position: absolute;
  top: 0px;
  width: 234px;  height: 420px;
  padding: 20px 0;
  color: white;
  background-color: rgba(105,101,101,.6);
  z-index:100;
}
.column li {
  height: 42px;
  line-height: 42px;
  padding-left: 30px;
  position: relative;
  cursor: pointer;
}
.column li:after {
  content: ">";
  position: absolute;
  right: 1.5em;
}
.column li:hover {
  background-color: rgb(255,103,0);
}
/* 侧拉列表结束 */
/* 轮播图开始 */
.slider_wrapper {
  width: 100%;  height: 460px;
  background-color: rgb(250,87,68);
}
.slider_wrapper input {
  display: none;
}
.slider_wrapper ul {
  position: relative;
  width: 100%;  height: 100%;
}
.slider_wrapper li {
  position: absolute;
  top: 0;
  opacity: 0;
  transition: .6s;
}
.slider_wrapper img {
  width: 100%;  height: 100%;
}

.slider_wrapper li label {
  position: absolute;
  display: block;
  width: 41px;  height: 69px;
  top: 0;  bottom: 0;
  margin: auto;
  line-height: 69px;
  text-align: center;
  font-size: 45px;
  color: rgb(155,155,155);
}

.slider_wrapper li label:hover {
  color: white;
  background-color: #0005;
}

.slider_wrapper li label:nth-child(2) {
  left: 234px;
}
.slider_wrapper li label:nth-child(3) {
  right: 0;
}

input:nth-child(1):checked~ul li:nth-child(1),
input:nth-child(2):checked~ul li:nth-child(2),
input:nth-child(3):checked~ul li:nth-child(3),
input:nth-child(4):checked~ul li:nth-child(4),
input:nth-child(5):checked~ul li:nth-child(5) {
  opacity: 1;
  z-index: 6;
}
.indicator-wrapper {
  position: absolute;
  bottom: 7px;
  width: 100%;  height: 20px;
  z-index: 10;
  text-align: right;
}
.indicator {
  display: inline-block;
  padding: 0 2px;
  font-size:0;
  border-radius: 6px;
  background-color: #fff3;
}
.indicator label {
  display: inline-block;
  width: 6px; height:6px;
  margin: 2px 2px;
  font-size: 10px;
  border-radius: 3px;
  background-color: #fff8;
}
input:nth-child(1):checked~.indicator-wrapper label:nth-child(1),
input:nth-child(2):checked~.indicator-wrapper label:nth-child(2),
input:nth-child(3):checked~.indicator-wrapper label:nth-child(3),
input:nth-child(4):checked~.indicator-wrapper label:nth-child(4),
input:nth-child(5):checked~.indicator-wrapper label:nth-child(5) {
  background-color: #ff0d;
}
/* 轮播图结束 */

.flex-menu {
  display: flex;
  width: 100%;  height: 170px;
  margin-top: 15px;
  justify-content: space-between;
}
.flex-menu > div {
  width: 316px;  height: 170px;
  background-color: lime;
}
.flex-menu > .a {
  width: 228px;  height: 164px;
  margin: 3px;
  background-color: rgb(95,87,80);
}
.a ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.a li {
  width: 70px;  height: 82px;
  margin: 0 3px;
  align-items: stretch;
}
.page_content {
  width: 1226px;
  margin: auto;
}
.flashsale {
  margin: 4px auto;
}
.page_content span {
  display: block;
  height: 58px;
  line-height: 58px;
  font-size: 22px;
  color: rgb(51,51,51);
}/* page-content下的所有小标题 */

.flashsale .container ul {
  display: flex;
  justify-content: space-between;
}
.flashsale .container li{
  width: 234px;  height: 339px;
}
.ad {
  height: 120px;
  margin: 22px 0;
}

/*手机悬浮*/
.container_phone {
  width: 1226px;  height: 614px;
}
.container_phone .big {
  float: left;
  width: 234px;  height: 614px;
  margin: 0;
  transition: .3s;
}
.container_phone ul {
  float: right;
  width: 992px;
}
.container_phone li {
  float: left;
  position: relative;
  top:0;
  width: 234px;  height: 260px;
  padding: 20px 0;
  margin: 0 0 14px 14px;
  transition: .3s;
  background-color: #fff;
  cursor: pointer;
}
.container_phone .big {
  position: relative;
  top: 0;
  cursor: pointer;
}
.container_phone li:hover,
.container_phone .big:hover {
  top: -3px;
  box-shadow: 0 14px 15px rgb(227,227,227);
}
.img-wrapper {
  margin: 0 37px 18px;
}
.img-wrapper img {
  width: 160px; height: 160px;
}
.container_phone {
  text-align: center;
  font-size: 14px;
}
.container_phone .title {
  margin: 0 10px 2px;
}
.container_phone .desc{
  font-size: 12px;
  margin: 0 10px 10px;
  color: rgb(176,176,176);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container_phone .price {
  color:rgb(255,103,0);
  margin: 0 10px 14px;
}
del {
  text-decoration: line-through;
  color: rgb(176,176,176);
}
/* 手机悬浮结束 */
