@charset "UTF-8";
* {
  xbackground-color: rgba(0, 0, 0, 0.1);
}

html {
  box-sizing: border-box;
}

body {
  border: 1px solid red;
}

section {
  width: 400px;
  height: 400px;
  margin: 200px auto;
  position: relative;
  border-radius: 50%;
  /* 所有的元素都是叠加的，所以绝对定位 */
}

section div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

section div div {
  /* 两层下的div选中最末尾的伪元素，都是绝对 */
}

section div div::after {
  content: '';
  position: absolute;
  margin: auto;
}

section div div::before {
  content: '';
  position: absolute;
  margin: auto;
}

section .out {
  position: absolute;
  width: 406px;
  height: 406px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-left: -3px;
  border-radius: 50%;
  background: conic-gradient(#9ED110, #50B517, #179067, #476EAF, #9f49ac, #CC42A2, #FF3BA7, #FF5800, #FF8100, #FEAC00, #FFCC00, #EDE604);
  -webkit-mask: radial-gradient(transparent, transparent 200px, #000 200px);
}

section .pan div::after {
  background-color: #000;
  top: 0;
  left: 0;
  right: 0;
  width: 4px;
  height: 15px;
}

section .pan div:nth-child(5n)::after {
  width: 9px;
  height: 30px;
}

section .sec {
  animation: second 60s infinite steps(60);
}

section .sec div {
  animation: second-son 1s ease-out infinite;
}

section .sec div::after {
  top: 35px;
  left: 0;
  right: 0;
  width: 5px;
  height: 200px;
  background-color: red;
}

section .sec div::before {
  top: 45px;
  left: 0;
  right: 0;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: red;
}

section .sec .circle {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 22px;
  height: 22px;
  margin: auto;
  border-radius: 50%;
  background-color: red;
}

section .min {
  animation: m 3600s steps(360) infinite;
}

section .min div::after {
  bottom: 167px;
  left: 0;
  right: 0;
  width: 8px;
  height: 187px;
  background-color: black;
}

section .hour {
  animation: h 43200s linear infinite;
}

section .hour div::after {
  bottom: 175px;
  left: 0;
  right: 0;
  width: 12px;
  height: 130px;
  background-color: black;
}

@keyframes second {
  from {
    transform: rotatez(0deg);
  }
  to {
    transform: rotatez(360deg);
  }
}

@keyframes second-son {
  0% {
    transform: rotate(0);
  }
  4% {
    transform: rotate(2deg);
  }
  8% {
    transform: rotate(0);
  }
  12% {
    transform: rotate(-1deg);
  }
  16% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes m {
  0% {
    transform: rotateZ(60deg);
  }
  100% {
    transform: rotateZ(420deg);
  }
}

@keyframes h {
  0% {
    transform: rotateZ(-60deg);
  }
  100% {
    transform: rotateZ(300deg);
  }
}

.pan div:nth-child(1) {
  transform: rotatez(6deg);
}

.pan div:nth-child(2) {
  transform: rotatez(12deg);
}

.pan div:nth-child(3) {
  transform: rotatez(18deg);
}

.pan div:nth-child(4) {
  transform: rotatez(24deg);
}

.pan div:nth-child(5) {
  transform: rotatez(30deg);
}

.pan div:nth-child(6) {
  transform: rotatez(36deg);
}

.pan div:nth-child(7) {
  transform: rotatez(42deg);
}

.pan div:nth-child(8) {
  transform: rotatez(48deg);
}

.pan div:nth-child(9) {
  transform: rotatez(54deg);
}

.pan div:nth-child(10) {
  transform: rotatez(60deg);
}

.pan div:nth-child(11) {
  transform: rotatez(66deg);
}

.pan div:nth-child(12) {
  transform: rotatez(72deg);
}

.pan div:nth-child(13) {
  transform: rotatez(78deg);
}

.pan div:nth-child(14) {
  transform: rotatez(84deg);
}

.pan div:nth-child(15) {
  transform: rotatez(90deg);
}

.pan div:nth-child(16) {
  transform: rotatez(96deg);
}

.pan div:nth-child(17) {
  transform: rotatez(102deg);
}

.pan div:nth-child(18) {
  transform: rotatez(108deg);
}

.pan div:nth-child(19) {
  transform: rotatez(114deg);
}

.pan div:nth-child(20) {
  transform: rotatez(120deg);
}

.pan div:nth-child(21) {
  transform: rotatez(126deg);
}

.pan div:nth-child(22) {
  transform: rotatez(132deg);
}

.pan div:nth-child(23) {
  transform: rotatez(138deg);
}

.pan div:nth-child(24) {
  transform: rotatez(144deg);
}

.pan div:nth-child(25) {
  transform: rotatez(150deg);
}

.pan div:nth-child(26) {
  transform: rotatez(156deg);
}

.pan div:nth-child(27) {
  transform: rotatez(162deg);
}

.pan div:nth-child(28) {
  transform: rotatez(168deg);
}

.pan div:nth-child(29) {
  transform: rotatez(174deg);
}

.pan div:nth-child(30) {
  transform: rotatez(180deg);
}

.pan div:nth-child(31) {
  transform: rotatez(186deg);
}

.pan div:nth-child(32) {
  transform: rotatez(192deg);
}

.pan div:nth-child(33) {
  transform: rotatez(198deg);
}

.pan div:nth-child(34) {
  transform: rotatez(204deg);
}

.pan div:nth-child(35) {
  transform: rotatez(210deg);
}

.pan div:nth-child(36) {
  transform: rotatez(216deg);
}

.pan div:nth-child(37) {
  transform: rotatez(222deg);
}

.pan div:nth-child(38) {
  transform: rotatez(228deg);
}

.pan div:nth-child(39) {
  transform: rotatez(234deg);
}

.pan div:nth-child(40) {
  transform: rotatez(240deg);
}

.pan div:nth-child(41) {
  transform: rotatez(246deg);
}

.pan div:nth-child(42) {
  transform: rotatez(252deg);
}

.pan div:nth-child(43) {
  transform: rotatez(258deg);
}

.pan div:nth-child(44) {
  transform: rotatez(264deg);
}

.pan div:nth-child(45) {
  transform: rotatez(270deg);
}

.pan div:nth-child(46) {
  transform: rotatez(276deg);
}

.pan div:nth-child(47) {
  transform: rotatez(282deg);
}

.pan div:nth-child(48) {
  transform: rotatez(288deg);
}

.pan div:nth-child(49) {
  transform: rotatez(294deg);
}

.pan div:nth-child(50) {
  transform: rotatez(300deg);
}

.pan div:nth-child(51) {
  transform: rotatez(306deg);
}

.pan div:nth-child(52) {
  transform: rotatez(312deg);
}

.pan div:nth-child(53) {
  transform: rotatez(318deg);
}

.pan div:nth-child(54) {
  transform: rotatez(324deg);
}

.pan div:nth-child(55) {
  transform: rotatez(330deg);
}

.pan div:nth-child(56) {
  transform: rotatez(336deg);
}

.pan div:nth-child(57) {
  transform: rotatez(342deg);
}

.pan div:nth-child(58) {
  transform: rotatez(348deg);
}

.pan div:nth-child(59) {
  transform: rotatez(354deg);
}

.pan div:nth-child(60) {
  transform: rotatez(360deg);
}

/* 表盘 */
